/ALL_SPDR_ohlcv_6m.csv
/XLB_ohlcv_6m.csv
/XLC_ohlcv_6m.csv
/XLE_ohlcv_6m.csv
/XLF_ohlcv_6m.csv
/XLI_ohlcv_6m.csv
/XLK_ohlcv_6m.csv
/XLP_ohlcv_6m.csv
/XLRE_ohlcv_6m.csv
/XLU_ohlcv_6m.csv
/XLV_ohlcv_6m.csv
/XLY_ohlcv_6m.csv
